* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("Images/Drum1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
}
.container > div {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

.card > button {
  width: 100px;
}
